<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>en</key>
	<string>en</string>
	<key>en-GB</key>
	<string>en-GB</string>
	<key>en-AU</key>
	<string>en-au</string>
	<key>en-CA</key>
	<string>en-ca</string>
	<key>en-IN</key>
	<string>en-in</string>
	<key>fr</key>
	<string>fr</string>
	<key>fr-CA</key>
	<string>fr</string>
	<key>es</key>
	<string>es</string>
	<key>es-MX</key>
	<string>es-419</string>
	<key>pt</key>
	<string>pt</string>
	<key>pt-BR</key>
	<string>pt-BR</string>
	<key>it</key>
	<string>it</string>
	<key>de</key>
	<string>de</string>
	<key>zh-Hans</key>
	<string>zh-CN</string>
	<key>zh-Hant</key>
	<string>zh-TW</string>
	<key>zh-HK</key>
	<string>zh-CN</string>
	<key>nl</key>
	<string>nl</string>
	<key>ja</key>
	<string>ja</string>
	<key>ko</key>
	<string>ko</string>
	<key>vi</key>
	<string>vi</string>
	<key>ru</key>
	<string>ru</string>
	<key>sv</key>
	<string>sv</string>
	<key>da</key>
	<string>da</string>
	<key>fi</key>
	<string>fi</string>
	<key>nb</key>
	<string>no</string>
	<key>tr</key>
	<string>tr</string>
	<key>el</key>
	<string>el</string>
	<key>id</key>
	<string>id</string>
	<key>ms</key>
	<string>ms</string>
	<key>th</key>
	<string>th</string>
	<key>hi</key>
	<string>hi</string>
	<key>hu</key>
	<string>hu</string>
	<key>pl</key>
	<string>pl</string>
	<key>cs</key>
	<string>cs</string>
	<key>sk</key>
	<string>sk</string>
	<key>uk</key>
	<string>uk</string>
	<key>hr</key>
	<string>hu</string>
	<key>ca</key>
	<string>ca</string>
	<key>ro</key>
	<string>ro</string>
	<key>he</key>
	<string>iw</string>
	<key>ar</key>
	<string>ar</string>
</dict>
</plist>
